<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="width: 150px">
            Sku<br />
            <input type="text" ng-model="Sku" style="width:140px" />
        </td>
        <td style="width: 150px">
            Name<br />
            <input type="text" ng-model="Name" style="width:140px" />
        </td>
        <td style="width: 150px">
            Price<br />
            <input type="text" ng-model="Price" style="width:140px" />
        </td>
        <td style="width: 150px">
            Description:<br />
            <input type="text" ng-model="Description" style="width:140px" />
        </td>
        <td style="width: 200px">
            <br />
            <input type="button" value="Add" ng-click="Add()" />
        </td>
    </tr>
</table>